@page
@model EmployeeApp.Pages.Actions.ViewEmployeeModel
@{
    var employeeInfo = Model.employeeInfo;
}
<style>
    .custom-card {
        border-radius: .5rem;
    }

    .custom-gradient {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        background-color: #141414;
    }

    .custom-img {
        width: 80px;
    }

    .custom-card-body{
        background-color: #212529;
    }

    h6{
        font-weight: 700;
    }

    a{
        color: white;
    }
</style>

<h1 class="py-3">Employee Details</h1>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3 custom-card">
                <div class="row g-0">
                    <div class="col-md-4 custom-gradient text-center text-white">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                             alt="Avatar" class="img-fluid my-5 custom-img" />
                        <h5>@(employeeInfo.FirstName + " " + employeeInfo.LastName)</h5>
                        <p>@employeeInfo.Position</p>
                        <a href="/Actions/UpdateEmployee?id=@employeeInfo.Id">
                            <span class="material-symbols-outlined" style="color: #C69749">
                                edit
                            </span>
                        </a>
                    </div>
                    <div class="col-md-8 custom-card-body">
                        <div class="card-body p-4">
                            <h6>Information</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p>@employeeInfo.Email</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p>@employeeInfo.Phone</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Birthday</h6>
                                    <p>@employeeInfo.Birthday.ToString("yyyy-MM-dd")</p>
                                </div>
                            </div>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Address</h6>
                                    <p>@employeeInfo.Address</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Department</h6>
                                    <p>@employeeInfo.Department</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="/" class="btn btn-primary">Home</a>
            </div>
            </div>
    </div>
</div>

